qc10452-ws/src/main/webapp/WEB-INF/wsdl/Qc10452.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions targetNamespace="http://poc.grdf.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://poc.grdf.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xs:schema version="1.0" targetNamespace="http://poc.grdf.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="qc10452Escaped" type="tns:qc10452Escaped"/>

      <xs:element name="qc10452EscapedResponse" type="tns:qc10452EscapedResponse"/>

      <xs:element name="qc10452Literal" type="tns:qc10452Literal"/>

      <xs:element name="qc10452LiteralResponse" type="tns:qc10452LiteralResponse"/>

      <xs:element name="qc10452Unescaped" type="tns:qc10452Unescaped"/>

      <xs:element name="qc10452UnescapedResponse" type="tns:qc10452UnescapedResponse"/>

      <xs:complexType name="qc10452Escaped">
        <xs:sequence>
          <xs:element name="data2escape" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452EscapedResponse">
        <xs:sequence>
          <xs:element name="escapedData" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452Literal">
        <xs:sequence>
          <xs:element name="data2literal" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452LiteralResponse">
        <xs:sequence>
          <xs:element name="literalData" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452Unescaped">
        <xs:sequence>
          <xs:element name="data2unescape" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452UnescapedResponse">
        <xs:sequence>
          <xs:element name="unescapedData" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="qc10452Literal">
    <part name="parameters" element="tns:qc10452Literal"/>
  </message>
  <message name="qc10452LiteralResponse">
    <part name="parameters" element="tns:qc10452LiteralResponse"/>
  </message>
  <message name="qc10452Escaped">
    <part name="parameters" element="tns:qc10452Escaped"/>
  </message>
  <message name="qc10452EscapedResponse">
    <part name="parameters" element="tns:qc10452EscapedResponse"/>
  </message>
  <message name="qc10452Unescaped">
    <part name="parameters" element="tns:qc10452Unescaped"/>
  </message>
  <message name="qc10452UnescapedResponse">
    <part name="parameters" element="tns:qc10452UnescapedResponse"/>
  </message>
  <portType name="Qc10452">
    <operation name="qc10452Literal">
      <input ns1:Action="http://poc.grdf.com/Qc10452/qc10452LiteralRequest" message="tns:qc10452Literal" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://poc.grdf.com/Qc10452/qc10452LiteralResponse" message="tns:qc10452LiteralResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="qc10452Escaped">
      <input ns3:Action="http://poc.grdf.com/Qc10452/qc10452EscapedRequest" message="tns:qc10452Escaped" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://poc.grdf.com/Qc10452/qc10452EscapedResponse" message="tns:qc10452EscapedResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="qc10452Unescaped">
      <input ns5:Action="http://poc.grdf.com/Qc10452/qc10452UnescapedRequest" message="tns:qc10452Unescaped" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://poc.grdf.com/Qc10452/qc10452UnescapedResponse" message="tns:qc10452UnescapedResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

