qc10452-ws/src/main/webapp/WEB-INF/wsdl/TestWithSoapUIService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions targetNamespace="http://www.poc.grdf.com" name="TestWithSoapUIService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.poc.grdf.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://www.poc.grdf.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="qc10452Escaped" type="tns:qc10452Escaped"/>

      <xs:element name="qc10452EscapedResponse" type="tns:qc10452EscapedResponse"/>

      <xs:element name="qc10452Literal" type="tns:qc10452Literal"/>

      <xs:element name="qc10452LiteralResponse" type="tns:qc10452LiteralResponse"/>

      <xs:element name="qc10452Unescaped" type="tns:qc10452Unescaped"/>

      <xs:element name="qc10452UnescapedResponse" type="tns:qc10452UnescapedResponse"/>

      <xs:complexType name="qc10452Literal">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452LiteralResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452Escaped">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452EscapedResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452Unescaped">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="qc10452UnescapedResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="qc10452Literal">
    <part name="parameters" element="tns:qc10452Literal"/>
  </message>
  <message name="qc10452LiteralResponse">
    <part name="parameters" element="tns:qc10452LiteralResponse"/>
  </message>
  <message name="qc10452Escaped">
    <part name="parameters" element="tns:qc10452Escaped"/>
  </message>
  <message name="qc10452EscapedResponse">
    <part name="parameters" element="tns:qc10452EscapedResponse"/>
  </message>
  <message name="qc10452Unescaped">
    <part name="parameters" element="tns:qc10452Unescaped"/>
  </message>
  <message name="qc10452UnescapedResponse">
    <part name="parameters" element="tns:qc10452UnescapedResponse"/>
  </message>
  <portType name="TestWithSoapUI">
    <operation name="qc10452Literal">
      <input wsam:Action="http://www.poc.grdf.com/TestWithSoapUI/qc10452LiteralRequest" message="tns:qc10452Literal"/>
      <output wsam:Action="http://www.poc.grdf.com/TestWithSoapUI/qc10452LiteralResponse" message="tns:qc10452LiteralResponse"/>
    </operation>
    <operation name="qc10452Escaped">
      <input wsam:Action="http://www.poc.grdf.com/TestWithSoapUI/qc10452EscapedRequest" message="tns:qc10452Escaped"/>
      <output wsam:Action="http://www.poc.grdf.com/TestWithSoapUI/qc10452EscapedResponse" message="tns:qc10452EscapedResponse"/>
    </operation>
    <operation name="qc10452Unescaped">
      <input wsam:Action="http://www.poc.grdf.com/TestWithSoapUI/qc10452UnescapedRequest" message="tns:qc10452Unescaped"/>
      <output wsam:Action="http://www.poc.grdf.com/TestWithSoapUI/qc10452UnescapedResponse" message="tns:qc10452UnescapedResponse"/>
    </operation>
  </portType>
  <binding name="TestWithSoapUIPortBinding" type="tns:TestWithSoapUI">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="qc10452Literal">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="qc10452Escaped">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="qc10452Unescaped">
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TestWithSoapUIService">
    <port name="TestWithSoapUIPort" binding="tns:TestWithSoapUIPortBinding">
      <soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

